@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'vars';

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

@mixin center() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

%font-normal {
  font-family: sans-serif;
  font-style: normal;
}

// стили для текста

.color-text {
  color: $colorText;
}

.nav {
  display: flex;
  gap: $gapGrid;
  &__link {
    text-decoration: none;
    @extend %font-normal
  }
}

.content {
  width: $widthSite;
  display: flex;
  gap: $gapGrid;
  @include center();
  &__item {
    width: $widthSite / 4;
    border: $border;
    height: 200px;
  }
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

// summary::before {
//   content: "\2192";
//   padding-right: 0.5em;
// }

// details[open] > summary::before {
//   content: "\2193";
// }

.sort {
  display: flex;
  gap: 28px;
}

.details {
  position: relative;

  &__box {
    position: absolute;
    left: -9px;
    top: 22px; //17 size+5px
    background: #FFF;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 7px 9px 12px;
    width: 79px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.center {
padding-left: calc(50% - 570px);
padding-right: calc(50% - 570px);
}

.top {
  overflow: hidden;
}

#check {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}

#check:checked ~ .menu {
  right: -232px;

}


.header {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 75px;
  position: relative;
}

.menu {
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  background: #FFF;
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  right: 0;
  transition: right 0.7s;
}

.menu__hea {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

.menu__link {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  &:hover {
    color: #F16D7F;
  }
}

.menu__ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 20px;
}

.menu__subheading {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
  margin-top: 20px;
}

.promo {
  height: 764px;
  background: #F8F3F4;
}